<% include ../partials/header.ejs %>
  <form action="" method="post" enctype="multipart/form-data" id="editForm">
    <table class="table table-bordered">
      <tr>
        <th>게시글 제목</th>
        <td>
          <input type="text" name="title" class="form-control" value="<%= article.title %>" />
        </td>
      </tr>
      <tr>
        <th>썸네일</th>
        <td>
          <input type="file" name="thumbnail"/>
          <% if(article.thumbnail) { %>
            <a href="/uploads/<%= article.thumbnail %>">업로드 이미지 보기</a>
          <% } %>
        </td>
      </tr>
      <tr>
        <th>설명</th>
        <td>
          <textarea name="content" id="summernote" class="form-control"><%- article.content %></textarea>
        </td>
      </tr>
    </table>
    <button class="btn btn-primary">작성하기</button>
    <a href="/article/lists" class="btn btn-lg btn-success btn-block">뒤로가기</a>    
  </form>

  <!-- summernote -->
  <!-- 스타일관련 -->
  <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/summernote.css" rel="stylesheet">
  <!-- 자바스크립트관련 -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/summernote.js"></script>
  <!-- 한글관련 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/lang/summernote-ko-KR.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#editForm').submit(() => {
        $('input[name=files]').remove();
      })

      $('#summernote').summernote({
        lang: 'ko-KR',
        height: 300,
        callbacks : {
          onImageUpload: (files) => {
            sendFile(files[0]);
          }
        }
      });

      function sendFile(file, editor, welEditable) {
        data = new FormData();
        data.append("thumnail", fail);
        $.ajax({
          data: data,
          type: "POST",
          url: '/article/ajax_summernote/',
          cache: false,
          contentType: false,
          processData: false,
          success: (url) => {
            $('#summernote').summernote("insertImage", url);
          }
        });
      }
    });
  </script>


  <% include ../partials/footer.ejs %>